<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Master Suite" verbose="3">
    <!-- <listeners>
		<listener class-name="com.viacom.resources.ListenerClass" />
	</listeners> -->
	
    <suite-files>
 
 
      <!-- <suite-file path="./testngsuite2.xml"/>  -->
     <suite-file path="./testngsuite.xml"/>  

           
    </suite-files>
  
</suite> 